*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}
body{
  background-image: url(360_F_552473151_gaBefjYdGK1SNYkQtIfo3HYiXTtj900W.jpg);
  height: 100%;
  background-size: cover;
}
.card{
  width: 90%;
  max-width: 800px;
  color: black;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search{
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img{
  width: 16px;
}
.weather-icon{
  width: 170px;
  margin-top: 10%;
}
.weather h1{
  font-size: 80px;
  font-weight: 500;
}
.weather h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.humidity, .wind{
  font-size: 28px;
  margin-top: -6px;
}
.music img{
  height: 150px;
  width: 150px;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #081b31;
  display: flex;
  justify-content: center;
  align-items: center;
}
.music:hover{
  cursor: pointer;
  height: 170px;
  width: 170px;
  background-color: #081b31;
  border-radius: 50%;
}
.games img{
  height: 150px;
  width: 150px;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #081b31;
  display: flex;
  justify-content: center;
  align-items: center;
}
.games:hover{
  cursor: pointer;
  height: 170px;
  width: 170px;
  background-color: #081b31;
  border-radius: 50%;
}
.music-games{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  gap: 50px;
}