*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif;
}
body{
  background-image: url(6.jpg);
  height: 100%;
  background-size: cover;
}
.nav{
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav a{
  font-size: 20px;
  border-radius: 20px;
  color: cyan;
  text-decoration: none;
}
.CLIMA{
  width: 50%;
}
.CLIMA h1{
  font-size: 40px;
  font-family: monospace;
}
.card{
  width: 500px;
  color: white;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  position: absolute;
  left: 200px;
  top: 200px;
}
.search{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
.search input{
  border: 0;
  outline: 0;
  background-color: silver;
  color: black;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
  margin-top: 20px;
}
.search button{
  border: 0;
  outline: 0;
  background: silver;
  border-radius: 50%;
  width:  60px;
  height: 60px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}
.search button img{
  width: 16px;
}
.weather-icon{
  width: 170px;
  margin-top: 30px;
}
.weather h1{
  font-size: 80px;
  font-weight: 500;
}
.weather h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.humidity, .wind{
  font-size: 28px;
  color: white;
}
.weather{
  display: none;
}
.error{
  text-align: left;
  margin-left: 65px;
  font-size: 18px;
  margin-top: 10px;
  display: none;
}

